.container{
background-color: rgb(223, 106, 106);
width: 50%;
height: 100vh;
margin: 0px auto;
padding: 40px;
display: flex;
flex-direction: column;
align-items: center;
}
.userlogin{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-family: calibri;
    margin-top: 80px;
}
.user{
    color: orange;
}
svg{
    width: 70px;
    margin:40px auto;
}

form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
}
.textholder{
    width: 250px;
    padding: 15px 40px;
    background-color: rgb(20, 18, 18);
    color: white;
    margin: 10px auto;
    border-radius: 8px;
    border: 1px solid transparent;
}
button{
    width: 300px;
    padding: 15px;
    background-color:orange;
    color: white;
    margin-top: 30px ;
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 1.2rem;
    font-weight: 600;
}
label{
    font-family: calibri;
    font-size: 25px;
}